.raised-button {
  width: 100%;
  color: rgba(var(--color-text-accent));
  margin: 0;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  border: 1px solid rgba(var(--color-button-inshadow));
  border-radius: 2rem;
  background: linear-gradient(
    90deg,
    rgb(var(--color-main-accent-lighter), 0.8) 0%,
    rgb(var(--color-accent-main), 0.8) 100%
  );
  transition: background 0.5s ease-out;
}


.raised-button:focus {
  outline: none;
}

.raised-button:hover {
  cursor: pointer;
  background-position: 16.5rem;
}

.raised-button:disabled {
  background: rgba(var(--color-disabled));
}

.raised-button:active {
  box-shadow: inset -0.1rem 0.1rem 0.3rem var(--color-button-inshadow);
}
