:root {
  --color-accent-main: rgb(72, 231, 168);
  --color-secondary: rgb(255, 255, 255);
  --color-error: rgb(255, 0, 0);
  --color-disabled: rgb(204, 204, 204);
  --color-main-accent-lighter: rgb(138, 239, 200);
}
