.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-style: normal;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.383);
}

.container:hover {
  background-color: lightgray;
}

.avatar {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  object-fit: cover;
  border-radius: 50%;
}
